<app-docs-subheader title="Exemplos" />

<app-component-preview title="Padrão">
  <example-input-default />
</app-component-preview>

<app-component-preview title="Desabilitado">
  <example-input-disabled />
</app-component-preview>

<app-component-preview title="Com Ícone">
  <example-input-with-icon />
</app-component-preview>

<app-component-preview title="Com Botão">
  <example-input-with-button />
</app-component-preview>

<app-component-preview title="Input de Arquivo">
  <example-input-file />
</app-component-preview>
